@tailwind base;
@tailwind components;
@tailwind utilities;
/* custom styling for input and popup */
.input{
    border: 1px solid lightgray;
}
.popup{
    z-index: 1;
}

/* .custom-transform-origin {
  transform-origin: 100% 0%;
} */