@tailwind base;
@tailwind components;
@tailwind utilities;
/* custom styling for input and popup */
.input{
    border: 1px solid lightgray;
}
.popup{
    z-index: 1;
}

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

/* Styles for the popup content */
.popup-content {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.5);
}

/* Style for the close button (X) */
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 24px;
}
/* .custom-transform-origin {
  transform-origin: 100% 0%;
} */